.round-slider {
  display: grid;
  position: relative;
  width: 138px;
  height: 138px;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}
.round-slider .selection {
  width: 140px;
  height: 140px;
  /* transform: rotateY(180deg); */
  border-radius: 50%;
  background: transparent;
  grid-row: 1;
  grid-column: 1;
  opacity: 0.5;
  border: 20px solid white;
  /* overflow: hidden; */
  justify-self: center;
  align-self: center;
  pointer-events: none;
  /* clip-path: polygon(value% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%); */
}
.round-slider .selection:after {
  display: block;
  content: "";
  width: 3px;
  height: calc(50% - 5px);
  background-color: red;
  position: absolute;
  left: calc(50% - 1px);
  transform-origin: 1px 100%;
  transform: rotate(0deg);
}
.round-slider .holder {
  width: 110px;
  height: 110px;
  background: transparent;
  overflow: hidden;

  border-radius: 50%;
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  align-self: center;
  pointer-events: none;
  z-index: 4;
  text-align: center;
  line-height: 110px;
  font-size: 2em;
  color: white;
}

.slider__wrapper {
  border: 5px solid #fff;
  display: inline-block;
  min-width: 4em;
  min-height: 4em;
  padding: 4em;
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.round-slider::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 50%;
}

.round-slider::before {
  content: "";
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  top: -3px;
  left: -3px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.round-slider div::after {
  content: "";
  position: absolute;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  top: -6px;
  left: -6px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.round-slider div::before {
  content: "";
  position: absolute;
  width: calc(100% + 18px);
  height: calc(100% + 18px);
  top: -9px;
  left: -9px;
  border: 2px solid #fff;
  border-radius: 50%;
}
