@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  box-sizing: border-box;
}
.canvas {
  width: 300px;
  height: 300px;
  position: relative;
  background: #26292d;
  border-radius: 50%;
  font-family: "Montserrat", sans-serif;
  background: transparent;
  touch-action: none;
}
.slider__wrapper {
  width: fit-content;
  position: relative;
}

.slider__drop-box {
  display: flex;
  position: absolute;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff2f;
  top: 57%;
  right: 35%;
  width: 30%;
}
.slider__drop-icon {
  display: inline-block;
  width: 5%;
  min-height: 13px;
  background-position: center;
  rotate: 180deg;
  background-image: url("./drop_filled.svg");
}

.slider__drop-icon--transp {
  rotate: 0deg;
  opacity: 0.5;
}
