.circle-slider__canvas {
  width: 270px;
  height: 270px;
  position: relative;
  background: #26292d;
  border-radius: 50%;
  font-family: "Montserrat", sans-serif;
  background: transparent;
  -ms-touch-action: none;
  touch-action: none;
}
.circle-slider__wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.circle-slider__drops-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff2f;
  top: 57%;
  right: 33.5%;
  width: 33%;
  padding-bottom: 2px;
}
.circle-slider__drops-icon {
  display: inline-block;
  width: 10%;
  margin-right: 2px;
  min-height: 13px;
  background-position: center;
  rotate: 180deg;
  background-image: url("./imgs/drop_filled.svg");
}

.circle-slider__drops-icon--transp {
  rotate: 0deg;
  opacity: 0.5;
}

@media (max-width: 1280px) {
  .circle-slider__canvas {
    width: 253px;
    height: 253px;
  }

  .circle-slider__clock-wrapper {
    width: 25%;
    left: 38%;
  }

  .circle-slider__drops-box {
    width: 31%;
    height: 5.5%;
    left: 35%;
  }
  .circle-slider__drops-icon {
    background-size: cover;
  }
}

@media (max-width: 1132px) {
  .circle-slider__canvas {
    width: 224px;
    height: 224px;
  }
  .circle-slider__clock-wrapper {
    width: 25%;
    font-size: 6px;
    left: 37.5%;
  }
  .circle-slider__clock-title {
    font-size: 4px;
    bottom: -63%;
    left: 27%;
  }
  .circle-slider__drops-icon {
    background-size: cover;
  }
  .circle-slider__drops-box {
    width: 120%;
    height: 21%;
    -webkit-transform: scale(0.22);
    -ms-transform: scale(0.22);
    transform: scale(0.22);
    left: -9%;
    top: 51%;
  }
}

@media (max-width: 1024px) {
  .circle-slider__canvas {
    width: 202px;
    height: 202px;
  }
  .circle-slider__clock-wrapper {
    font-size: 6px;
    width: 27%;
    left: 37%;
    top: 34%;
  }
  .circle-slider__clock-title {
    left: 28%;
    font-size: 4px;
  }
  .circle-slider__drops-box {
    width: 28%;
    height: 5%;
    left: 36.5%;
  }

  .circle-slider__clock-wrapper::after {
    right: -15%;
    top: 39.5%;
  }

  .circle-slider__clock-wrapper::before {
    left: -15%;
    top: 40%;
  }
  .circle-slider__drops-box {
    width: 120%;
    height: 21%;
    -webkit-transform: scale(0.22);
    -ms-transform: scale(0.22);
    transform: scale(0.22);
    left: -10%;
    top: 51%;
  }
}

@media (max-width: 896px) {
  .circle-slider__canvas {
    width: 177px;
    height: 177px;
  }
  .circle-slider__clock-title {
    font-size: 3px;
    left: 26%;
  }
  .circle-slider__clock-wrapper {
    font-size: 5px;
  }
  .circle-slider__clock-dial {
    margin-left: 3px;
  }
  .circle-slider__clock-wrapper::after {
    width: 2px;
    height: 2px;
    right: -18%;
    top: 36%;
  }
  .circle-slider__clock-wrapper::before {
    width: 2px;
    height: 2px;
    left: -18%;
    top: 36%;
  }

  .circle-slider__drops-box {
    width: 62%;
    height: 8%;
    -webkit-transform: scale(0.52);
    -ms-transform: scale(0.52);
    transform: scale(0.52);
    left: 19%;
    top: 55%;
  }
}

@media (max-width: 768px) {
  .circle-slider__canvas {
    width: 152px;
    height: 152px;
  }
  .circle-slider__clock-wrapper {
    width: 24%;
    left: 38%;
    top: 33%;
    padding: 1px;
    font-size: 4px;
  }

  .circle-slider__clock-wrapper::after {
    width: 1px;
    height: 1px;
  }
  .circle-slider__clock-wrapper::before {
    width: 1px;
    height: 1px;
  }
  .circle-slider__clock-dial::after {
    right: -11%;
  }

  .circle-slider__clock-dial::before {
    left: -11%;
  }
  .circle-slider__clock-wrapper::after {
    right: -18%;
    bottom: 28%;
  }
  .circle-slider__clock-title {
    left: 23%;
    font-size: 3px;
    left: 20%;
    top: 120%;
  }
  .circle-slider__drops-box {
    width: 85%;
    height: 10%;
    -webkit-transform: scale(0.38);
    -ms-transform: scale(0.38);
    transform: scale(0.38);
    left: 8%;
    top: 53%;
  }
}

@media (max-width: 594px) {
  .circle-slider__canvas {
    width: 117px;
    height: 117px;
  }
  .circle-slider__clock-wrapper {
    font-size: 3px;
  }

  .circle-slider__clock-dial {
    margin-left: 1px;
  }
  .circle-slider__clock-wrapper::after {
    display: none;
  }
  .circle-slider__clock-wrapper::before {
    display: none;
  }
  .circle-slider__clock-title {
    font-size: 2px;
    padding: 0 5px;
    top: 125%;
  }
}

@media (max-width: 480px) {
  .circle-slider__canvas {
    width: 95px;
    height: 95px;
  }
  .circle-slider__clock-dial {
    margin-left: 1px;
  }
  .circle-slider__clock-wrapper {
    font-size: 2.6px;
    width: 25%;
    left: 37.5%;
    top: 34.5%;
    padding: 0px;
  }
  .circle-slider__clock-title {
    font-size: 2px;
    padding: 0 3px;
    top: 132%;
    bottom: -85%;
    left: 24%;
  }
  .circle-slider__drops-box {
    width: 100%;
    height: 13%;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
    left: -0%;
    top: 52%;
  }
}

@media (max-width: 400px) {
  .circle-slider__canvas {
    width: 79px;
    height: 79px;
  }
  .circle-slider__clock-wrapper {
    font-size: 2px;
    padding: 0;
    top: 33.5%;
  }

  .circle-slider__clock-title {
    font-size: 1px;
    padding: 0 3px;
    left: 27%;
    top: 140%;
    bottom: -110%;
  }

  .circle-slider__drops-box {
    width: 120%;
    height: 18%;
    top: 48%;
    -webkit-transform: scale(0.25);
    -ms-transform: scale(0.25);
    transform: scale(0.25);
    left: -10%;
  }
}

@media (max-width: 320px) {
  .circle-slider__canvas {
    width: 63px;
    height: 63px;
  }

  .circle-slider__clock-wrapper {
    font-size: 1.5px;
    border: none;
    left: 40%;
  }
  .circle-slider__clock-dial::before {
    height: 0.3px;
    rotate: 90deg;
  }
  .circle-slider__clock-dial::after {
    rotate: 90deg;
    height: 0.3px;
    right: 7%;
  }
  .circle-slider__clock-title {
    font-size: 1px;
    padding: 0 2px;
    left: 22%;
  }
}
