@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
.circle-slider__clock-dial {
  margin-left: 6px;
}

.circle-slider__clock {
  user-select: none;
}

.circle-slider__clock-wrapper {
  position: relative;
  color: #ffffff;
  position: absolute;
  font-family: "Montserrat", serif;
  width: 22.5%;
  top: 35%;
  left: 39%;
  font-size: 9px;
  padding: 2px;
  border-bottom: 1px dotted #fff;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.circle-slider__clock-wrapper::before {
  content: "";
  height: 2px;
  width: 2px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  left: -15%;
  top: 40%;
}

.circle-slider__clock-wrapper::after {
  content: "";
  height: 2px;
  width: 2px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  right: -15%;
  top: 40%;
}

.circle-slider__clock-dial::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 1px;
  left: -10%;
  top: 50%;
  background-color: white;
}

.circle-slider__clock-title {
  position: absolute;
  text-transform: uppercase;
  font-size: 6px;
  left: 30%;
  font-weight: 600;
  padding: 0 7px;
  bottom: -67%;
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
}

.circle-slider__clock-dial::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 1px;
  right: -10%;
  top: 50%;
  background-color: white;
}

.circle-slider {
  position: relative;
  width: fit-content;
}
