@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
.circle-slider {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Montserrat", serif;
}
